protobuf>=4.25.2
git+https://github.com/xiangxn/graphene_mongo.git@v0.2.13a#egg=graphene_mongo
googleapis-common-protos==1.56.0
web3==6.15.0
tqdm==4.63.0

# flask
Flask>=2.0.3
# graphql-server==3.0.0b5
flask-graphql==2.0.1
