protobuf>=3.19.4
git+https://github.com/xiangxn/graphene_mongo.git@v0.2.13a#egg=graphene_mongo
googleapis-common-protos==1.56.0
web3==5.28.0
tqdm==4.63.0

# flask
Flask>=2.0.3
# graphql-server==3.0.0b5
flask-graphql==2.0.1
